<!doctype html>

<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <meta charset="utf-8">
  <title>Earth-Hack 2019</title>
  <meta name="description" content="Earth-Hack 2019">
  <meta name="author" content="Twistcode">
  <link rel="stylesheet" href="static/bootstrap.min.css">
  <link rel="stylesheet" href="static/dropzone.css">
  <link rel="stylesheet" href="static/simplebar.css">
  <script src="static/jquery.js"></script>
  <script src="static/bootstrap.min.js"></script>
  <script src="static/dropzone.js"></script>
  <script>
    Dropzone.autoDiscover = false;
  </script>
</head>

<body>
  <div class="container">
    <div class="py-4 d-flex justify-content-between">
      <div style="border-left:2px solid #42bcf4" class="pl-4 d-none d-md-block">
        <h4 class="display-4 mb-0">EAGE</h4>
        <h1><b>Earth-Hack</b></h1>
      </div>
      <div class="d-md-none"> 
          <img src="static/logo-sm.png" class="img-fluid">
        </div>
      <div class="d-none d-sm-none d-md-block"> 
          <img src="static/logo.png" class="img-fluid">
        </div>
    </div>
    <p>Rock properties detection from core images</p>
    <div class="row py-4" style="height:600px">
      <div class="col-md-8 d-flex align-items-center">
        <div class="card h-100 w-100">
          <div class="card-body scroll" id="imageContainer">
            <div class="dropzone" id="imageInput">

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 scroll h-100">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Output</h5>
            <div class="lds-facebook" style="display:none"><div></div><div></div><div></div></div>
            <div id="outputContainer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="static/simplebar.js"></script>
  <script src="static/main.js"></script>

</body>

</html>